@media screen and (min-width: 0px) and (max-width: 599px){
    .title{
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px auto;
        padding: 0px !important;
        background: url('../assets/img/pizzasbg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 23vh;
    }

    .pizza{
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 50px auto 100px auto;
    }

    .pizza h1{
        width: 90vw;
        font-size: 35px;
        line-height: 90px;
        text-align: justify;
        padding: 20px;
    }

    .pizza p{
        width: 90vw;
        font-size: 16px;
        line-height: 50px;
        text-align: justify;
        padding: 0 20px;
        margin-top: 45%;
    }

    .pizzas{
        display: none;
        visibility: hidden;
    }
    
    
    section .art-recommend{
        flex-direction: column;
        justify-content: center;
    }

    section .art-categories{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .card-recommend{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .card-categories{
        width: 44%;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .title{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px auto;
        padding: 0px !important;
        background: url('../assets/img/pizzasbg.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 13vw 27vh;
    }

    .pizza{
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 50px auto 100px auto;
    }

    .pizza h1{
        width: 90vw;
        font-size: 55px;
        line-height: 80px;
        text-align: justify;
        margin: 0px auto;
        padding: 20px;
    }

    .pizza p{
        width: 90vw;
        font-size: 18px;
        line-height: 50px;
        text-align: justify;
        padding: 0 20px;
        margin-top: -60px;
        margin-bottom: 280px;
    }

    .pizza .see-more{
        padding: 0 20px;
    }

    .pizzas{
        display: none;
        visibility: hidden;
    }

    section .art-recommend{
        flex-direction: column;
        justify-content: center;
    }

    section .art-categories{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .card-recommend{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .card-categories{
        width: 25%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px){
    .title{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px auto;
        padding: 0px !important;
        background: url('../assets/img/pizzasbg.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 25vw 15vh;
    }

    .pizza{
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 50px auto 100px auto;
    }

    .pizza h1{
        width: 90vw;
        font-size: 55px;
        line-height: 90px;
        text-align: justify;
        margin: 0px auto;
        padding: 20px;
    }

    .pizza p{
        width: 90vw;
        font-size: 18px;
        line-height: 50px;
        text-align: justify;
        padding: 0 20px;
        margin: 230px auto 20px auto;
    }

    .pizza .see-more{
        padding: 0 20px;
    }

    .pizzas{
        display: none;
        visibility: hidden;
    }
    
    section .art-recommend{
        flex-direction: row;
        justify-content: center;
    }

    section .art-categories{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .card-recommend{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .card-categories{
        width: 20%;
    }

}


        
